.posts {
    display: grid;
    grid-template-columns: 1fr;
    align-items: stretch;
    height: 100%;
    justify-content: space-between;
    gap: 1rem;
    position: relative;

    &__message {
        font-size: 2rem;
        grid-area: 1/1/span 2 / span 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &--loading {
            animation: rotation infinite 1s linear;
        }
    }
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .posts {
        grid-template-columns: 1fr;
    }
}