.container {
    width: 97%;
    display: grid;
    grid-template-columns: 7fr 4fr;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
    margin: 2rem auto;
    &__forms{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 768px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        &__forms{
            grid-area: 1/1/1/1;
        }
    }
}