.container {
    display: grid;
    grid-template-columns: 7fr 4fr;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
    margin: 2rem 0;
}

@media (max-width: 768px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }
    .form-container{
        grid-area: 1/1/1/1;
    }
}