.card{
    display: flex;
    flex-direction: column;
    gap: 0;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.02),
                0 0 4px 4px rgba(0,0,0,0.02),
                0 0 8px 8px rgba(0,0,0,0.02);
    border-radius: 15px;
    position: relative;
    &.disable > &__load{
        display: flex;
    }
    &__load{
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 15px;
        width: 100%;
        height: 100%;
        z-index: 99;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
    &__top-section{
        position: relative;
        color: white;
        border-radius: 15px 15px 0 0;
        &__container{
            position: relative;
            & > img{
                border-radius: 15px 15px 0 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__details{
            background: linear-gradient(rgba(60,60,60,0.8), rgba(0,0,0,0));
            width: calc(100% - 40px);
            border-radius: 15px 15px 0 0;
            position: absolute;
            top: 0;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            &__info{
                display: flex;
                justify-content: space-between;
                gap: 8px;
                align-items: center;
                &__image{
                    object-fit: contain;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background-color: white;
                }
                &__text{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    &__time{
                        font-size: 0.7em;
                    }
                }
            }
            &__edit{
                i{
                    cursor: pointer;
                }
            }
        }
    }
    &__bottom-section{
        margin-top: -3px;
        padding: 20px;
        background-color: rgba($color: #fff, $alpha: 0.5);
        border-radius: 0 0 15px 15px;
        &__details{
            &__tags{
                margin: 0 0 10px;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                &__item{
                    font-size: 0.8em;
                    border: 1px solid black;
                    padding: 5px 10px;
                    background-color: darkslategray;
                    color: #eee;
                    border-radius: 3px;
                    cursor: pointer;
                }
                &__item:hover{
                    background-color: rgb(81, 119, 119);
                }
            }
            &__title{
                font-size: 1.5rem;
                text-transform: uppercase;
                margin: 20px 0 10px;
            }
            &__message{
                margin: 10px 0 20px;
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }
        &__ctas{
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__like{
                align-items: center;
                display: flex;
                gap: 5px;
                font-size: 1.2rem;
                span{
                    font-size: 0.8em;
                }
                & > .fas{
                    color: crimson;
                }
            }
            i{
                cursor: pointer;
            }
        }
    }
}