.navbar{
    background-color: rgba($color: #fff, $alpha: 0.5);
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1),
                0 0 4px 4px rgba(0,0,0,0.1),
                0 0 8px 8px rgba(0,0,0,0.1);
    border-radius: 15px;
    padding: 10px 30px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        text-decoration: none;
        color: black;
        cursor: pointer;
        &__heading{
            font-size: 2.5rem;
            font-family: Arial, Helvetica, sans-serif;
        }
        &__image{
            object-fit: contain;
            width: 50px;
        }
    }
    &__userDetails{
        display: flex;
        align-items: center;
        &__picture{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 0 1rem;
            object-fit: contain;
        }
        &__name{
            margin-right: 2rem;
        }
        &__logout{
            all: unset;
            cursor: pointer;
            padding: 12px;
            border-radius: 10px;
            color: rgb(207, 247, 248);
            background-color: crimson;
        }
    }
    &__login{
        all: unset;
        cursor: pointer;
        padding: 12px;
        border-radius: 10px;
        color: rgb(207, 247, 248);
        background-color: cornflowerblue;
    }
}