body {
    min-height: calc(100vh - 20px);
    /* background: #C9FFBF;
    background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
    background: linear-gradient(to right, #FFAFBD, #C9FFBF); */
    background: #FF5F6D;
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);
    background: linear-gradient(to right, #FFC371, #FF5F6D);
    overflow: overlay;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#root {
    width: 90%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    #root {
        width: 95%;
    }
}