body {
    min-height: calc(100vh - 20px);
    background: #C9FFBF;
    background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
    background: linear-gradient(to right, #FFAFBD, #C9FFBF);
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    #root {
        width: 95%;
    }
}