.verify{
    width: calc(100% - 100px);
    max-width: 450px;
    padding: 75px 50px;
    margin: 2rem auto;
    background-color: rgba($color: #fff, $alpha: 0.5);
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1),
                0 0 4px 4px rgba(0,0,0,0.1),
                0 0 8px 8px rgba(0,0,0,0.1);
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &__heading{
        font-size: 2rem;
        & > h1{
            font-size: 2.5rem;
            margin: 1rem;
        }
    }
    p{
        font-size: 1.2rem;  
    }
}